@use "../../../utils/styles/vars" as *;

// Variáveis
$primary-color: #1f2937;
$secondary-color: #6b7280;
$background-color: #f9fafb;
$card-background: #ffffff;
$border-color: #d1d5db;
$positive-color: #dc2626;
$negative-color: #0066cc;
$shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin card-style {
  border-radius: 0.5rem;
  box-shadow: $shadow;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

// Componente principal
.coordinate-system {
  position: absolute;
  z-index: 1000000000;

  padding: .8rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  cursor: crosshair;

  @include flex-center;

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid #374151;
  border-radius: 1rem;

  background-color: $sky-gray;

  .move {
    &:hover {
      opacity: 1;
    }
  }

  &__canvas-container {
    @include card-style;
  }

  &__canvas {
    border: 1px solid #354051f8;
    border-radius: 1rem;
    display: block;
  }

  &__legend {
    font-size: 0.875rem;
    color: $secondary-color;
    text-align: center;

    &-item {
      margin: 0.25rem 0;
      position: relative;
      padding-left: 1rem;

      &::before {
        content: '■';
        position: absolute;
        left: 0;
        font-size: 1rem;
      }

      &--positive::before {
        color: $positive-color;
      }

      &--negative::before {
        color: $negative-color;
      }
    }
  }
}

// Responsividade
@media (max-width: 768px) {
  .coordinate-system {
    padding: 1rem;

    &__title {
      font-size: 1.25rem;
    }

    &__canvas {
      max-width: 100%;
      height: auto;
    }

    &__legend {
      font-size: 0.75rem;
      max-width: 20rem;
    }
  }
}

.bottom-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 5rem;
}