$shadow-color: rgba(0, 0, 0, 0.3);

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.carousel-title {
  color: #e5e7eb;
  word-break: break-all;
  margin: 0;
  text-align: center;
  white-space: pre-wrap;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
  height: 100%;
  width: 100%;
}

.nav-button-top,
.nav-button-bottom {
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 20;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }
}

.nav-button-top {
  padding-top: 10px;
}

.nav-button-bottom {
  padding-bottom: 10px;
}

.nav-button-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-viewport {
  height: 100%;
  
  position: relative;
  overflow: hidden;
  user-select: none;
  touch-action: none;
  z-index: 10;
  cursor: grab;

  &.dragging {
    cursor: grabbing;
  }

  &.list-mode {
    cursor: default;
  }
}

.gradient-top {
  position: absolute;
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;
  background: linear-gradient(to bottom, #1f2937 0%, rgba(31, 41, 55, 0) 100%);
  z-index: 995;
  pointer-events: none;
}

.gradient-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: linear-gradient(to top, #1f2937 0%, rgba(31, 41, 55, 0) 100%);
  z-index: 995;
  pointer-events: none;
}

.items-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.list-layout {
    justify-content: flex-start;
  }
}

.carousel-item-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
}

.custom-button-wrapper {
  margin-top: 1rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
