$background-color: #111223;
$text-color: #f5f5f5;

$red: #e0243a;
$blue: #1f7fcd;
$green: #047509;
$yellow: #d4ef00;
$orange: #b86302;
$white: #ffffff;
$black: #000;
$brown: #633602;
$pink: #b50291;
$purple: #b03dbf;
$sky-gray: #1f2937;

$light-green: #4CAF50;
$light-blue: #4a90e2;
$light-orange: #ffcc80;
$light-red: #ff9e80;

$dark-green: #1b5e20;
$dark-blue: #1976d2;
$dark-orange: #c26a11;
$dark-red: #b71c1c;
