.icon-button-container {
  display: flex;
  align-items: center;
  position: relative;

  .icon-button {
    padding: 10px;
    min-width: 44px;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
